<!-- container for coupon redeem console -->
<section class="coupon-redeem-entry">
    <h3>
        Enter Offer Price & Coupon Code
    </h3>
    <input class="price-entry" ng-model="vm.amount" placeholder="Enter Price" type="number" />
        <input class="coupon-entry" min="1" ng-disabled="vm.amount==null" ng-model="vm.coupon_code" placeholder="Enter Coupon Code" type="text" />
            <select class="sle" ng-model="vm.business_id" ng-options="item.id as item.name for item in vm.vendor.businesses">
            </select>



            <button ng-click="vm.checkCode()">
                SUBMIT
            </button>



            <div ng-show="vm.showInfo">
                

                <h5> Offer Applied {{vm.showInfo.savings}} {{vm.showInfo.savings_type}} </h5>
                <h5> Price : Rs.{{vm.showInfo.price}} </h5>
                <h5> Offer Amount: Rs.{{vm.showInfo.offer_amount}} </h5>
                <h4>Amount to Pay: Rs.{{vm.showInfo.amount_to_pay}}</h4>

            </div>
            <div class="pull-right">
                <a>
                    FAQ
                </a>
                <a>
                    Troubleshoot
                </a>
            </div>
  
</section>
