<!DOCTYPE html>
<html lang="en" ng-app="angular-app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">
	<title>angular-app</title>
	<meta name="description" content="Modular AngularJS with Angm-generator" />
	<meta name="author" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes" />
	<link rel="shortcut icon" href="app/assets/images/favicon.ico" />
	<link rel="apple-touch-icon" href="app/assets/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="app/assets/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="app/assets/images/apple-touch-icon-114x114.png" />

	<!-- injector:css -->
	<link rel="stylesheet" href="/app/assets/css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="/app/assets/css/style.css">
	<!-- endinjector -->

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-toast/2.0.0/ngToast.min.css"/>

</head>
<body ng-clock>

	<div ng-include="'app/modules/layouts/nav-bar/navbar.html'"></div>
	<!--Beginning-->
	<section id="wrapper" scroll-to>
		<div class="view-slide-in" ui-view>

<div>
  <div class="backwhite">
    <div class="container">
      <div class="col-md-10">
        <nav class="main-header-navigation">
          <ul>
            <li class="main-nav-education"><a href="#" ng-click="vm.getOffers()">All</a></li>
            <li class="main-nav-food" ><a href="#" ng-click="vm.filter_by_food(vm.overall_compaigns)" >Food</a></li>
            <!-- <li class="main-nav-education"><a href="#" >Education</a></li> -->
            <li class="main-nav-beauty"><a href="#" ng-click="vm.filter_by_beauty(vm.overall_compaigns)">Beauty</a></li>
            <li class="main-nav-travel"><a href="#">Travel</a></li>
            <li class="main-nav-personal_needs"><a href="#" ng-click="vm.filter_by_personal_need(vm.overall_compaigns)">Personal needs</a></li>
            <li class="main-nav-gadgets"><a href="#">Gadgets</a></li>
            <li class="main-nav-clothing"><a href="#">Clothing</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-2 main-header-location">
        <i class="glyphicon glyphicon-map-marker"></i>
        <div class="dropdown">
          <span class="dropdown-toggle" type="button" data-toggle="dropdown">Chennai
          </span><span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="#">Chennai</a></li>
            <li><a href="#">Madurai</a></li>
            <li><a href="#">Pondy</a></li>
            <li><a href="#">kanchepuram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
			<!-- slider code -->
<section class="main-slider">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">

          <img src="/app/assets/images/03Banner/cream_fudge.png" alt="Los Angeles" style="width:100%;">
        </div>

        <div class="item">
          <img src="/app/assets/images/03Banner/naturals.png" alt="Chicago" style="width:100%;">
        </div>

        <div class="item">
          <img src="/app/assets/images/03Banner/ak.png" alt="New York" style="width:100%;">
          <!-- <div class="carousel-caption">
            <h3>New York</h3>
            <p>We love the Big Apple!</p>
          </div> -->
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<!-- how works code -->
<section class="how-spini-works">
  <div class="container">
    <img src="/app/assets/images/04HowSpini/00-Bann-HowSpini-Complete.png">
  </div>
</section>


<section class="offers-grid" ng-init="vm.getOffers()">
  <div class="container">
    <div class="col-md-4" ng-repeat="offer in vm.compaigns track by $index ">
      <div class="offer-container">
        <img ng-src="{{offer.attributes.avatar_thumb}}" alt="offer-image">
        <div class="offer-details">

          <button ng-click="vm.getSlidepopup(offer.attributes.campaign_id)">GET CODE!</button>

          <h3>{{offer.attributes.name}}</h3>
          <div class="offer-location">
            <b>At - {{offer.attributes.business_name}}</b><span>{{offer.attributes.place}} </span>
          </div>

          <p>
{{offer.attributes.description | limitTo: 65}}
{{offer.attributes.description.length > 65 ? '...' : ''}}

          </p>
          <div class="offer-share" style="    margin: 0px;
    padding: 0px;
    padding-top: 10px;">
            <label>SHARE & EARN</label>
            <ul>
              <li class="offer-share-max"><a href="#"></a></li>
              <li class="offer-share-fb"><a href="#"></a></li>
              <li class="offer-share-twitter"><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="offer-spini-treashure">
          <a href="#">SPINI TREASURE</a>
        </div>
      </div>
    </div>

  </div>

</section>

</div>


		</div>


    <div ng-include="'app/modules/pop-ups/popup.html'" ng-controller="HomeCtrl as vm"></div>

	</section>
	<!--End-->




	<footer><p>© 2017 All Rights Reserved</p></footer>


<!-- injector:js -->
<script src="/src/bower_components/jquery/dist/jquery.js"></script>
<script src="/src/bower_components/es5-shim/es5-shim.js"></script>
<script src="/src/bower_components/json3/lib/json3.min.js"></script>
<script src="/src/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/src/bower_components/angular/angular.js"></script>
<script src="/src/bower_components/angular-touch/angular-touch.js"></script>
<script src="/src/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/src/bower_components/angular-aria/angular-aria.js"></script>
<script src="/src/bower_components/angular-mocks/angular-mocks.js"></script>
<script src="/src/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/src/bower_components/angular-animate/angular-animate.js"></script>
<script src="/src/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/src/bower_components/angular-resource/angular-resource.js"></script>
<script src="/src/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/src/bower_components/lodash/lodash.js"></script>
<script src="/app/app.js"></script>
<script src="/app/app.config.js"></script>
<script src="/app/assets/js/angular-app-angularbundle.js"></script>
<script src="/app/assets/js/angular-app-appbundle.js"></script>
<script src="/app/assets/js/templates.js"></script>
<!-- endinjector -->

<script src="//use.fontawesome.com/9a830e8669.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ng-toast/2.0.0/ngToast.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-socialshare/2.3.11/angular-socialshare.min.js"></script>





</body>
</html>
