
 <toast></toast>

<!-- login POPUP -->

<div id="login-popup" class="overlay" >
  <a href="javascript:void(0)" class="closebtn" ng-click="vm.closeLoginPopup()">&times;</a>
  <div class="overlay-content">
    <div class="row ">
<div class="col-md-4 row col-md-offset-4 white nopad">
<div class="text-center bg-grey nopad pad-bot-10">
  <img class="poplogo" src="/app/assets/images/header/Logo@2x.png">


<h3> SPINI SIGN IN </h3>
<br/>
<h5> Share & Earn Spini Treasure..!!!</h5>
</div>

<div class="text-center temp" ng-controller="LoginCtrl as vm">
   <button class="btn btn-block fbbutton " ng-click="vm.FbLogin()">
    <span class="fa fa-facebook left falign"></span> Sign in with Facebook
  </button>

     <button g-login class="btn btn-block gbutton" ng-click="vm.GoogleLogin('google')">
    <span class="fa fa-google left falign" ></span> Sign in with Google
  </button>

</div>
<div>

</div>
  </div>
</div>
</div>
</div>

<!-- end login code -->


<!-- login POPUP -->

<div id="login-signup" class="overlay" >
  <a href="javascript:void(0)" class="closebtn" ng-click="vm.signupPOPClose()">&times;</a>
  <div class="overlay-content">
    <div class="row ">
<div class="col-md-4 row col-md-offset-4 white nopad">
<div class="text-center bg-grey nopad pad-bot-10">
  <img class="poplogo" src="/app/assets/images/header/Logo@2x.png">


<h3> SIGN UP WITH SPINI </h3>
<br/>
<h5> Share & Earn Spini Treasure..!!!</h5>
</div>

<div class="text-center temp" ng-controller="LoginCtrl as vm">

   <button class="btn btn-block fbbutton " ng-click="vm.FbLogin('facebook')">
    <span class="fa fa-facebook left falign"></span> Sign UP with Facebook
  </button>

     <button g-login class="btn btn-block gbutton" ng-click="vm.GoogleLogin('google')">
    <span class="fa fa-google left falign" ></span> Sign UP with Google
  </button>

</div>
<div>

</div>
  </div>
</div>
</div>
</div>



<!-- end login code -->


<!-- Get Code POPUP -->

<div id="confirm-code-popup" class="overlay">
  <a href="javascript:void(0)" class="closebtn" ng-click="vm.closegetcodepopup()">&times;</a>
  <div class="overlay-content">
    <div class="row ">
<div class="col-md-8 row col-md-offset-2 white pad-bot0 pad10 ">
      <div class="row mar20bt">
          <div class="col-md-1 nopad">


        <i class="fa fa-arrow-left offer-logo-40px mar10" ng-click="vm.closegetcodepopup()" aria-hidden="true"></i>

        </div>       <div class="col-md-3 nopad text-left">


          <h4 class="mar10"> <b>Flat 15% Off</b></h4>
               <div class="offer-location">
            <b>At Cream & Fudge at - </b><span>T.Nagar</span>
          </div>
        </div>



                  <div class="col-md-8 text-right nopad">
        <img class="offer-logo-set1" src="/app/assets/images/05Cards/Card-Logo-CnF.png">
        </div>
        <hr>
      </div>

      <div class="row backcls mar-10px text-left">
        <div class="form-group popupcenter padtop40 ">
          <div class="col-md-12 nopad text-center">
            <h4 class="marbt20"> Hi Kalidass </h4>
            <h4 class="marbt20">Availing this offer will add Rs.200 to your Spini Wallet! </h4>
            <h4 class="marbt20"> Offer code will be send to your registered mobile No - 9524609638 </h4>


    <button type="button" class="btn min40 btnwid50 nbr">SEND CODE!</button>
    </div>
 <div class="col-md-12 nopad gpad text-center">
             <span class="offer-spini">
           <i class="fa fa-share-alt-square link-icon" aria-hidden="true"></i>  SHARE & EARN
          </span>

        </div>




</div>
      </div>
       <div class="row backcls mar-10px text-left dotted">
      <div class="col-md-12 nopad mar45">
        <div class="col-md-8">

          <p class="font15px popupfoot1  ">
          <b>Further more sharing this code will earn you </b>
          <br/>

          <b >Rs.200 each time it's availed</b>

        </p>

       <div class="social pad-bot10 padtop30 popupfoot1">
  <a class="fa fa-twitter twitter" title="" target="_blank" href="#"></a>
  <a class="fa fa-facebook fb" title="" target="_blank" href="#"></a>
  <a class="fa fa-clone clone" title="" target="_blank" href="#"></a>
</div>
</div>

<div class="col-md-4 text-center">

<h1 class="b">Rs.200</h1>

<p>
  Earn real cash while you enjoy Spini offers!!
</p>
          </div>
        </div>
</div>
</div>



</div>
  </div>
</div>

<!-- end get code -->



<!-- Get Code POPUP mobile no-->

<div id="get-code-popup" class="overlay">
  <a href="javascript:void(0)" class="closebtn" ng-click="vm.closegetMobilepopup()">&times;</a>
  <div class="overlay-content">
    <div class="row ">
<div class="col-md-8 row col-md-offset-2 white pad-bot0 pad10 ">
      <div class="row mar20bt">
          <div class="col-md-1 nopad">


        <i class="fa fa-arrow-left offer-logo-40px mar10" ng-click="vm.closeGetNoPopup()" aria-hidden="true"></i>

        </div>       <div class="col-md-3 nopad text-left">


          <h4 class="mar10"> <b>Flat 15% Off</b></h4>
               <div class="offer-location">
            <b>At Cream & Fudge at - </b><span>T.Nagar</span>
          </div>
        </div>



                  <div class="col-md-8 text-right nopad">
        <img class="offer-logo-set1" src="/app/assets/images/05Cards/Card-Logo-CnF.png">
        </div>
        <hr>
      </div>

      <div class="row backcls mar-10px text-left">
        <div class="form-group popupcenter ">
        <form name="get_coupen" ng-submit="vm.sentMobileNo(mobile)" novalidate>
          <div class="col-md-8 nopad">
              <label for="usr">Enter your mobile No. to get Code</label>
              <input name="mobile" type="number" placeholder="Mobile no" class="form-control nbr min40" id="usr" ng-model="mobile"  maxlength="10" minlength="10" ng-pattern="/^[0-9]+$/" required>
              <span style="color: red" style="color: red" ng-show="(get_coupen.mobile.$touched || submitted) && get_coupen.mobile.$error.minlength">Minimum 10 digits required.</span>
               <span style="color: red" style="color: red" ng-show="(get_coupen.mobile.$touched || submitted) && get_coupen.mobile.$error.maxlength">Maximum 13 digits only allowed.</span>
           </div>
           <div class="col-md-4 nopad mar25x">
              <button type="submit" class="btn min40 width100 nbr" ng-disabled="get_coupen.$invalid">SEND CODE!</button>
          </div>
          
          </form>


          <div class="col-md-12 nopad mar40">
            <span class="offer-spini">
             <i class="fa fa-gift link-icon fagift" aria-hidden="true"></i>  SPINI TREASURE
            </span>
          </div>

          </div>
          
      </div>
       <div class="row backcls mar-10px text-left dotted">
      <div class="col-md-12 nopad mar40">
          <p class="font15px popupfoot pad-bot ">
          Psst...! <br/>
          Signup to become a Spini referral and earn Rs.200 with this offer!<br/>
          Sparsh earned Rs.2000 begin a Spini Referral!<br/>
        </p>

        <p class="fbblue font15px popupfoot pad-bot">



             <i class="fa fa-facebook link-icon" aria-hidden="true"></i>  SIGN UP WITH FACEBOOK<br/>
          </p>
        </div>
</div>
</div>



</div>

  </div>
</div>

<!-- end get code -->


<!-- OFFERS POPUP 1st-->

<div id="offer-popup" class="overlay">
  <a href="javascript:void(0)" class="closebtn" ng-click="vm.closeSlidepopup()">&times;</a>
  <div class="overlay-content">
<div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="item in vm.getItems() track by $index" index="$index">
        <!-- <img ng-src="{{item.business_avatar}}" style="margin:auto;">{{item}} -->
        <div class="row " >
    <div class="col-md-10 row col-md-offset-1 white pad10">
        <div class="col-md-5 nopad">
            <!-- <div class="carousel slide" data-ride="carousel" id="carousel-example-generic"> -->
                <!-- <ol class="carousel-indicators"> -->
                    <!-- <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
                <!-- </ol> -->
                <!-- <div class="carousel-inner"> -->
                    <!-- <div class="active item"> -->
                        <img alt="..." class="fixed-height" src="{{item.attributes.avatar_thumb}}" style="width: 100% !important;"">
                    <!-- </div> -->
                    <!--    <div class="item">
              <img class="fixed-height" src="http://placehold.it/1200x400" alt="...">
            </div>
            <div class="item">
              <img class="fixed-height" src="http://placehold.it/1200x400" alt="...">
            </div> -->
                <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="col-md-12 nopad mr10px">
                <div class="col-md-6 text-left nopad">
                    <i aria-hidden="true" class="fa fa-arrow-circle-o-left ft25px grey">
                    </i>
                </div>
                <div class="col-md-6 text-right nopad">
                    <i aria-hidden="true" class="fa fa-arrow-circle-o-right ft25px grey">
                    </i>
                </div>
            </div> -->
        </div>
        <div class="col-md-7 nopad">
            <div class="pad-top-none offer-details text-left">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="tm">
                            {{item.attributes.name}}
                        </h3>
                        <div class="ts pad5 offer-location">
                            <b>
                                At {{item.attributes.business_name}} at -
                            </b>
                            <span>
                                {{item.attributes.place}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 text-right ">
                        <img class="offer-logo-set" src="{{item.attributes.avatar_medium}}">
                    </div>
                </div>
                <div class="row space-div">
                    <div class="col-md-4">
                        <button ng-click="vm.getcodepopup(item.id)">
                            GET CODE!
                        </button>
                    </div>
                    <div class="col-md-6">
                        <span class="offer-spini">
                            <i aria-hidden="true" class="fa fa-gift link-icon fagift">
                            </i>
                            Spini Treasure
                            <b>
                                $200
                            </b>
                        </span>
                    </div>
                    <div class="col-md-2 ">
                        <span class="offer-count">
                            <i aria-hidden="true" class="fa fa-star-o link-icon ">
                            </i>
                            54
                        </span>
                    </div>
                </div>
                <p class="">
                    {{item.attributes.description}}
                </p>
                <p class="offer-wrap-text space-div">
                    **OFFER VALID TILL {{item.attributes.end_date | date:'medium'}} only at {{item.attributes.business_name}} @ {{item.attributes.place}}
                </p>
                <div class="offer-share col-md-6">
                    <label>
                        SHARE & EARN
                    </label>
                    <ul>
                        <li class="offer-share-max">
                            <a href="#">
                            </a>
                        </li>
                        <li class="offer-share-fb">
                            <a href="#">
                            </a>
                        </li>
                        <li class="offer-share-twitter">
                            <a href="#">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offer-share col-md-6">
                    <label class="right">
                        OFFERS END IN
                    </label>
                    <p class="right timers">
                       {{item.attributes.end_date | date:'medium'}}
                    </p>
                </div>
            </div>
        </div>
        <span class="tes">
            <img class="roate-270" src="/app/assets/images/icons8-Expand%20Arrow-64.png">
        </span>
        <!-- <span class="tes1">
  <img class="roate-90" src="/app/assets/images/icons8-Expand%20Arrow-64.png">
</span> -->
    </div>
</div>
        
        <!-- <div class="carousel-caption">
          <h4>item {{item.id}}</h4>
          <p>{{item.text}}</p>
        </div> -->
      </div>
    </div>
  </div>
  </div>
</div>
<!-- end OFFERS POPUP -->


<style type="text/css">
  .offer-carousel-r1{
    width: 4%;
  }
</style>


