<toast>
</toast>
<!-- login POPUP -->
<div class="overlay" id="login-popup">
    <a class="closebtn" href="javascript:void(0)" ng-click="vm.closeLoginPopup()">
        ×
    </a>
    <div class="overlay-content">
        <div class="row ">
            <div class="col-md-4 row col-md-offset-4 white nopad">
                <div class="text-center bg-grey nopad pad-bot-10">
                    <img class="poplogo" src="/app/assets/images/header/Logo@2x.png">
                        <h3>
                            SPINI SIGN IN
                        </h3>
                        <br/>
                        <h5>
                            Share & Earn Spini Treasure..!!!
                        </h5>
                    
                </div>
                <div class="text-center temp" ng-controller="LoginCtrl as vm">
                    <button class="btn btn-block fbbutton " ng-click="vm.FbLogin()">
                        <span class="fa fa-facebook left falign">
                        </span>
                        Sign in with Facebook
                    </button>
                    <button class="btn btn-block gbutton" g-login="" ng-click="vm.GoogleLogin('google')">
                        <span class="fa fa-google left falign">
                        </span>
                        Sign in with Google
                    </button>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end login code -->
<!-- login POPUP -->
<div class="overlay" id="login-signup">
    <a class="closebtn" href="javascript:void(0)" ng-click="vm.signupPOPClose()">
        ×
    </a>
    <div class="overlay-content">
        <div class="row ">
            <div class="col-md-4 row col-md-offset-4 white nopad">
                <div class="text-center bg-grey nopad pad-bot-10">
                    <img class="poplogo" src="/app/assets/images/header/Logo@2x.png">
                        <h3>
                            SIGN UP WITH SPINI
                        </h3>
                        <br/>
                        <h5>
                            Share & Earn Spini Treasure..!!!
                        </h5>
                    
                </div>
                <div class="text-center temp" ng-controller="LoginCtrl as vm">
                    <button class="btn btn-block fbbutton " ng-click="vm.FbLogin('facebook')">
                        <span class="fa fa-facebook left falign">
                        </span>
                        Sign UP with Facebook
                    </button>
                    <button class="btn btn-block gbutton" g-login="" ng-click="vm.GoogleLogin('google')">
                        <span class="fa fa-google left falign">
                        </span>
                        Sign UP with Google
                    </button>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end login code -->
<!-- Get Code POPUP -->
<div class="overlay" id="confirm-code-popup">
    <a class="closebtn" href="javascript:void(0)" ng-click="vm.closegetcodepopup()">
        ×
    </a>
    <div class="overlay-content">
  <div class="row "  ng-repeat="item in vm.getSelectedOfferData()">
            <div class="col-md-8 row col-md-offset-2 white pad-bot0 pad10 ">
                <div class="row mar20bt">
                    <div class="col-md-1 nopad ico">
                        <i aria-hidden="true" class="fa fa-arrow-left offer-logo-40px mar10" ng-click="vm.closegetcodepopup()">
                        </i>
                    </div>

           

 <div class="col-md-3 nopad text-left">
                        <h4 class="mar10">
                            <b>
                                  {{item.attributes.name}}
                            </b>
                        </h4>
                        <div class="offer-location">
                            <b>
                                At {{item.attributes.business_name}} -
                            </b>
                            <span>
                                {{item.attributes.place}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <img class="offer-logo-set" ng-src="    {{item.attributes.avatar_medium}}">
                        
                    </div>
                    <hr>
                    </hr>
                </div>
                <div class="row backcls mar-10px text-left">
                    <div class="form-group popupcenter padtop40 ">
                        <div class="col-md-12 nopad text-center" ng-if="vm.user.name">
                            <h4 class="marbt20">
                                Hi  {{vm.user.name ? vm.user.name : 'Guest'}}
                            </h4>
                            <h4 class="marbt20">
                                Availing this offer will add Rs.200 to your Spini Wallet!
                            </h4>
                            <h4 class="marbt20">
                                Offer code will be send to your registered mobile No - 



                  {{vm.user.mobile ? vm.user.mobile : vm.mobie()}}
                            </h4>
                        </div>
                        <div class="col-md-12 nopad text-center" ng-if="vm.user.name == null">
                            <h4 class="marbt20">
                                Hi  {{vm.user.name ? vm.user.name : 'Guest'}}
                            </h4>
                            <h4 class="marbt20">
                                Availing this offer will add Rs.200 to your Spini Wallet!
                            </h4>
                            <h4 class="marbt20">
                                Offer code will be send to your registered mobile No - 

                  {{vm.mobile()}}
                            </h4>
                       
                        </div>
                        <div class="col-md-12 nopad gpad text-center"ng-if="vm.user.name" >
                            <span class="offer-spini" >
                                <i aria-hidden="true" class="fa fa-share-alt-square link-icon">
                                </i>
                                SHARE & EARN
                            </span>
                        </div>

                             <div class="col-md-12 nopad gpad text-center" ng-if="vm.user.name == null">
                            <span class="offer-spini"  ng-click="vm.openLoginPopup('referral','confirm-code-popup')">
                                <i aria-hidden="true" class="fa fa-share-alt-square link-icon">
                                </i>
                                SIGN UP & SHARE & EARN
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row backcls mar-10px text-left dotted">
                    <div class="col-md-12 nopad mar45">
                        <div class="col-md-8">
                            <p class="font15px popupfoot1 ">
                                <b>
                                    Further more sharing this code will earn you
                                </b>
                                <br/>
                                <b>
                                    Rs.200 each time it's availed
                                </b>
                            </p>
                            <div class="social pad-bot10 padtop30 popupfoot1">
                                <a class="fa fa-twitter twitter" href="#" target="_blank" title="">
                                </a>
                                <a class="fa fa-facebook fb" href="#" target="_blank" title="">
                                </a>
                                <a class="fa fa-clone clone" href="#" target="_blank" title="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <h1 class="b">
                                Rs.200
                            </h1>
                            <p>
                                Earn real cash while you enjoy Spini offers!!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end get code -->
<!-- Get Code POPUP mobile no-->
<div class="overlay" id="get-code-popup">
    <a class="closebtn" href="javascript:void(0)" ng-click="vm.closegetMobilepopup()">
        ×
    </a>
    <div class="overlay-content">
        <div class="row "  ng-repeat="item in vm.getSelectedOfferData()">
            <div class="col-md-8 row col-md-offset-2 white pad-bot0 pad10 ">
                <div class="row mar20bt">
                    <div class="col-md-1 nopad ico">
                        <i aria-hidden="true" class="fa fa-arrow-left offer-logo-40px mar10" ng-click="vm.closeGetNoPopup()">
                        </i>
                    </div>

           

 <div class="col-md-3 nopad text-left">
                        <h4 class="mar10">
                            <b>
                                  {{item.attributes.name}}
                            </b>
                        </h4>
                        <div class="offer-location">
                            <b>
                                At {{item.attributes.business_name}} -
                            </b>
                            <span>
                                {{item.attributes.place}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <img class="offer-logo-set" ng-src="    {{item.attributes.avatar_medium}}">
                        
                    </div>
                    <hr>
                    </hr>
                </div>
                <div class="row backcls mar-10px text-left">
                    <div class="form-group popupcenter ">
                        <form name="get_coupen" ng-submit="vm.sentMobileNo(mobile)" novalidate="">
                            <div class="col-md-8 nopad">
                                <label for="usr">
                                    Enter your mobile No. to get Code
                                </label>
                                <input class="form-control nbr min40" id="usr" maxlength="10" minlength="10" name="mobile" ng-model="mobile" ng-pattern="/^[0-9]+$/" placeholder="Mobile no" required="" type="number">
                                    <span ng-show="(get_coupen.mobile.$touched || submitted) && get_coupen.mobile.$error.minlength" style="color: red">
                                        Minimum 10 digits required.
                                    </span>
                                    <span ng-show="(get_coupen.mobile.$touched || submitted) && get_coupen.mobile.$error.maxlength" style="color: red">
                                        Maximum 13 digits only allowed.
                                    </span>
                                </input>
                            </div>
                            <div class="col-md-4 nopad mar25x">
                                <button class="btn min40 width100 nbr" ng-disabled="get_coupen.$invalid" type="submit">
                                    SEND CODE!
                                </button>
                            </div>
                        </form>
                        <div class="col-md-12 nopad mar40">
                            <span class="offer-spini">
                                <i aria-hidden="true" class="fa fa-gift link-icon fagift">
                                </i>
                                SPINI TREASURE
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row backcls mar-10px text-left dotted">
                    <div class="col-md-12 nopad mar40">
                        <p class="font15px popupfoot pad-bot ">
                            Psst...!
                            <br/>
                            Signup to become a Spini referral and earn Rs.200 with this offer!
                            <br/>
                            Sparsh earned Rs.2000 begin a Spini Referral!
                            <br/>
                        </p>
                        <p class="fbblue font15px popupfoot pad-bot" ng-click="vm.openLoginPopup('referral','get-code-popup')">
                            <i aria-hidden="true" class="fa fa-facebook link-icon">
                            </i>
                            SIGN UP WITH FACEBOOK
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end get code -->
<!-- OFFERS POPUP 1st-->
<div class="overlay" id="offer-popup">
    <a class="closebtn" href="javascript:void(0)" ng-click="vm.closeSlidepopup()">
        ×
    </a>
    <div class="overlay-content">
        <div style="height: 305px">
            <div active="active" interval="myInterval" no-wrap="noWrapSlides" uib-carousel="">
                <div index="$index" ng-repeat="item in vm.getItems() track by $index" uib-slide="">
                    <!-- <img ng-src="{{item.business_avatar}}" style="margin:auto;">{{item}} -->
                    <div class="row ">
                        <div class="col-md-10 row col-md-offset-1 white pad10">
                            <div class="col-md-5 nopad">
                                <!-- <div class="carousel slide" data-ride="carousel" id="carousel-example-generic"> -->
                                <!-- <ol class="carousel-indicators"> -->
                                <!-- <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
                                <!-- </ol> -->
                                <!-- <div class="carousel-inner"> -->
                                <!-- <div class="active item"> -->
                                <img "="" alt="..." class="fixed-height" src="{{item.attributes.avatar}}" style="width: 100% !important;">
                                    <!-- </div> -->
                                    <!--    <div class="item">
              <img class="fixed-height" src="http://placehold.it/1200x400" alt="...">
            </div>
            <div class="item">
              <img class="fixed-height" src="http://placehold.it/1200x400" alt="...">
            </div> -->
                                    <!-- </div> -->
                                    <!-- </div> -->
                                    <!-- <div class="col-md-12 nopad mr10px">
                <div class="col-md-6 text-left nopad">
                    <i aria-hidden="true" class="fa fa-arrow-circle-o-left ft25px grey">
                    </i>
                </div>
                <div class="col-md-6 text-right nopad">
                    <i aria-hidden="true" class="fa fa-arrow-circle-o-right ft25px grey">
                    </i>
                </div>
            </div> -->
                                
                            </div>
                            <div class="col-md-7 nopad">
                                <div class="pad-top-none offer-details text-left">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h3 class="tm">
                                                {{item.attributes.name}}
                                            </h3>
                                            <div class="ts pad5 offer-location">
                                                <b>
                                                    At {{item.attributes.business_name}} at -
                                                </b>
                                                <span>
                                                    {{item.attributes.place}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-right ">
                                            <img class="offer-logo-set" src="{{item.attributes.avatar_medium}}">
                                            
                                        </div>
                                    </div>
                                    <div class="row space-div">
                                        <div class="col-md-4">
                                            <button ng-click="vm.getcodepopup(item.id)">
                                                GET CODE!
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="offer-spini">
                                                <i aria-hidden="true" class="fa fa-gift link-icon fagift">
                                                </i>
                                                Spini Treasure
                                                <b>
                                                    $200
                                                </b>
                                            </span>
                                        </div>
                                        <div class="col-md-2 ">
                                            <span class="offer-count">
                                                <i aria-hidden="true" class="fa fa-star-o link-icon ">
                                                </i>
                                                54
                                            </span>
                                        </div>
                                    </div>
                                    <div class="min-height160px">
                                        <p class="">
                                            {{item.attributes.description}}
                                        </p>
                                        <p class="offer-wrap-text space-div">
                                            **OFFER VALID TILL {{item.attributes.end_date | date:'medium'}} only at {{item.attributes.business_name}} @ {{item.attributes.place}}
                                        </p>
                                    </div>
                                    <div class="offer-share col-md-6">
                                        <label>
                                            SHARE & EARN
                                        </label>
                                        <ul>
                                            <li class="offer-share-max">
                                                <a href="#">
                                                </a>
                                            </li>
                                            <li class="offer-share-fb">
                                                <a href="#">
                                                </a>
                                            </li>
                                            <li class="offer-share-twitter">
                                                <a href="#">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="offer-share col-md-6">
                                        <label class="right">
                                            OFFERS END IN
                                        </label>
                                        <p class="right timers">

                                            <timer 
 end-time="vm.unixtime(item.attributes.end_date)" max-time-unit="'day'" interval="1000"

                                            >{{days}} days, {{hhours}}:{{mminutes}}:{{sseconds}}</timer>


                                         
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <!--     <span class="tes">
                                <img class="roate-270" src="/app/assets/images/icons8-Expand%20Arrow-64.png">
                                
                            </span> -->
                            <!-- <span class="tes1">
  <img class="roate-90" src="/app/assets/images/icons8-Expand%20Arrow-64.png">
</span> -->
                        </div>
                    </div>
                    <!-- <div class="carousel-caption">
          <h4>item {{item.id}}</h4>
          <p>{{item.text}}</p>
        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end OFFERS POPUP -->
<style type="text/css">
    .offer-carousel-r1{
    width: 4%;
  }
</style>
